html, body, ul, li {
	margin: 0;
	padding: 0;
}

#main {
	overflow: hidden;
}

#content {
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.5s;
}

#content img {
	clear: both; 
	display: block;
	margin: auto;
	width: 500px;
	height: 400px;
}

#content p {
	color: #4a576a;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
}

#bar-btn {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: #fff;
	border: 3px solid #515151;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

#bar-btn img {
	width: 100%;
	height: 100%;
}

#sidebar {
	position: fixed;
	top: 0;
	left: -200px;
	z-index: 2;
	width: 200px;
	height: 100%;
	padding-top: 50px;
	background-color: #4a576a;
	transition: all 0.5s;
}

#sidebar ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#sidebar ul li {
	color: #fff;
	margin: 3% 0;
	padding: 3%;
	border: 3px solid #4a576a;
	font-size: 24px;
	cursor: pointer;
	transition: all 0.5s;
}

#sidebar ul li:hover {
	border: 3px solid #fff;
	border-radius: 15px;
	margin-left: 30px;
}

/*
.close {
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	position: relative;
}

.close::before, .close::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	margin-top: -1px;
	background-color: #000;
	width: 100%;
	height: 2px;
}

.close::before {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: ratate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: ratate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
*/