html {
	font-size: 16px;
}

body, p, ul, li {
	margin: 0;
	padding: 0;
}

#calendar {
	width: 100%;
}

#cal-header {
	width: 100%;
	height: 50px;
	background-color: #2F2F2F;
	color: #fff;
	line-height: 50px;
	display: flex;
	justify-content: space-around;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	font-weight: bold;
}

#year {
	font-size: 1.3rem;
}

#month {
	font-size: 2rem;
}

#days {
	margin-top: 50px;
}

#days ul {
	list-style-type: none;
	display: block;
}

#days ul li {
	max-width: 100%;
	height: 100px;
	border: 3px solid #2f2f2f;
	display: flex;
}

.day-num {
	height: 100px;
	width: 20%;
	padding: 0 5%;
	line-height: 100px;
	font-size: 3rem;
	font-weight: bold;
	text-align: right;
}

#dateDetails {
	display: flex;
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0px;
	color: #fff;
	border-top: 6px solid #2f2f2f;
	background-color: rgba(24, 24, 24, 0.8);
	transition: all 0.5s;
	-moz-transition: all 0.5s;	/* Firefox 4 */
	-webkit-transition: all 0.5s;	/* Safari å’Œ Chrome */
	-o-transition: all 0.5s;	/* Opera */
}

#curtain {
	display: flex;
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}

.Sun {
	background-color: rgba(255, 0, 0, 0.5);
}

.Mon {
	background-color: rgba(255, 127, 0, 0.5);
}

.Tue {
	background-color: rgba(255, 255, 0, 0.5);
}

.Wed {
	background-color: rgba(0, 255, 0, 0.5);
}

.Thu {
	background-color: rgba(0, 255, 255, 0.5);
}

.Fri {
	background-color: rgba(0, 0, 255, 0.5);
}

.Sat {
	background-color: rgba(139, 0, 255, 0.5);
}
